
  .check {
    padding-bottom: 20px;
  }
  /* .help-block 을 일단 보이지 않게 설정 */
  #signupForm .help-block {
    display: none;
  }
  /* glyphicon 을 일단 보이지 않게 설정 */
  #signupForm .glyphicon {
    display: none;
  }
  #nn {
    border-color: #ced4da;
  }
  #check-btn{
    display:none;
  }
  #play{
    display:none;
  }
  #checktel-btn{
    display:none;
  }
  #playtel{
    display:none;
  }
  div button{
  width:140px;
  }