
.riw-modal {
  text-align: center;  
}

h4 {
  color: #696969;
}
 
.rev-state {
  margin: 10px 0px 0px 0px;
  font-weight: 700;
}

.riw-write{
  float: right;
  line-height: 1.2;
}

.riw-complete{
  float: right; 
  line-height: 1.2;
}

.heun-css {
	padding-top: 0px;
}

#message-text {
  margin-top: 20px;

}
.del{
	margin-right:5px;
}
.dd{
    font-size: 17px;
    padding: 5px;
    height: 40px;
    width: 120px;
}

.roomcontent{
  margin-right:5px;
}
.modal-p-magin > p {
	margin-bottom: 3px;
}
.modal-p-magin > h5 {
	margin-bottom: 3px;
}
.no-gutters > span {
	width: 75px;
	margin-right: 3px;
	margin-top: 3px;
}
textarea {
	resize: none;
}
textarea :focus{
  outline: 1px;
}
textarea::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; 
}

textarea::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #4285F4; 
}
.mar{
	margin:15px 0px 10px 0px;
	
}

.btn-new {
    background-color: white;
    border: 2px solid #869e9e;
    color: #869e9e;
}

.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: #869e9e;
  border-color: #869e9e;
  color: white;
}



