
.riw-cont {
	display: block;
	overflow: hidden; 
	text-overflow: ellipsis;
	white-space: nowrap; 
	width: 300px;
	height: 20px;
}

.pagination-menu {
	margin: 50px;
}

#message-text {
  margin-top: 20px;
}

h4 {
  color: #696969;
}

.riw-delete {
	width: 110px;
}

.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 500px;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}

.bubble 
{
position: relative;
width: 320px;
height: 120px;
padding: 3px;
background: rgba(134, 158, 158, 0.1);
padding: 20px;
font-size: 16px;
}

.bubble:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 11px 25px 11px 0;
border-color: transparent rgba(134, 158, 158, 0.1);
display: block;
width: 0;
z-index: 1;
left: -25px;
top: 52px;
}

.bubble-ans 
{
position: relative;
width: 320px;
height: 120px;
margin-top:20px;
padding: 3px;
background: #42a1f6;
padding: 20px;
font-size: 16px;
}

.bubble-ans:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 11px 0 11px 25px;
border-color: transparent #42a1f6;
display: block;
width: 0;
z-index: 1;
right: -25px;
top: 52px;
}