
h1 {
	text-align: center;  
    margin: 30px; 
}

 .page-header {	
    text-align: center;	
}	


 .dropdown-menu {	
    width: 100% !important;	
}	

 .dropdown-item {	
    text-align: center;	
}	

 .heun-cc {	
    margin-bottom: 10px;	
    border: 1px solid #d3d3d3;	
}	

.update-password{
   margin-left: 15px;
   width: auto;
}

.buttons{
   float: right;
   margin: 10px 10px 50px 10px;
}

#password {
   margin: 10px 10px 50px 0px;
}
