
#content-blog { 
    text-align: center; 
    margin: 30px; 
} 

.blog-form-list {
    position: relative;
}

.one-form {
    position: absolute;
    padding: 5px;
    width: 300px;
    height: auto;
    overflow-x: hidden;
    overflow-y: hidden;

}

.heun-btitle {
	margin: 70px;
}

.check-btn {
    float: right;
}

.main-btn {
	margin: 0px 10px;
}

.blog-list-info{
	padding: 3px;
}

.img-fluid {
	max-width: 100%; 
	height: auto;
}

.check-form {
    float: right;
}

.mb0 {
	margin: 0px;
}

.btn-new {
    background-color: white;
    border: 2px solid #869e9e;
    color: #869e9e;
}

.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: #869e9e;
  border-color: #869e9e;
  color: white;
}


