
<!--검색조건 필터 버튼-->
.dd{
	width:40px;
	
}

th:nth-child(1) {
  text-align: center;
  width: 100px;
}

th:nth-child(2) {
  text-align: center;
  width: 100px;
}

th:nth-child(3) {
  text-align: center;
  width: 260px;
}

th:nth-child(4) {
  text-align: center;
  width: 150px;
}

th:nth-child(5) {
  text-align: center;
  width: 250px;
}

th:nth-child(6) {
  text-align: center;
  width: 150px;
}

td:nth-child(2) {
  text-align: center;
}



td:nth-child(5) {
  text-align: center;
}

td:nth-child(6) {
  text-align: center;
}